# Exercise 1: Create a DataFrame
Write a Python code snippet to create a `pandas` DataFrame from the `data` dictionary.

### Expected Output:
```python
   Name  Age         City  Salary
0  Alice   25     New York   70000
1    Bob   30  Los Angeles   80000
2 Charlie   35      Chicago   75000
3  David   40      Houston   90000
4    Eva   22      Phoenix   60000
```

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 75000, 90000, 60000]
}

# Creating DataFrame
df = pd.DataFrame(data)
df

# Exercise 2: Calculate the Average Salary
Write a code snippet to calculate the average salary from the DataFrame.

### Expected Output:
```python
75000.0
```

In [ ]:
# Calculating the average salary
avg_salary = df['Salary'].mean()
avg_salary

# Exercise 3: Filter People Based on Age
Write code to filter the DataFrame and show only the people who are older than 30 years.

### Expected Output:
```python
      Name  Age      City  Salary
2  Charlie   35   Chicago   75000
3    David   40   Houston   90000
```

In [ ]:
# Filtering based on age
age_filtered = df[df['Age'] > 30]
age_filtered

# Exercise 4: Add a New Column for Bonus
Add a new column to the DataFrame that calculates a 10% bonus for each person based on their salary.

### Expected Output:
```python
      Name  Age         City  Salary  Bonus
0    Alice   25     New York   70000   7000
1      Bob   30  Los Angeles   80000   8000
2  Charlie   35      Chicago   75000   7500
3    David   40      Houston   90000   9000
4      Eva   22      Phoenix   60000   6000
```

In [ ]:
# Adding a 10% bonus column
df['Bonus'] = df['Salary'] * 0.10
df

# Exercise 5: Find the City of the Youngest Person
Write code to identify the city where the youngest person in the DataFrame lives.

### Expected Output:
```python
'Phoenix'
```

In [ ]:
# Finding the city of the youngest person
youngest_city = df.loc[df['Age'].idxmin(), 'City']
youngest_city