# What is Pandas?

- In this notebook, We are going to talk about what Pandas is and how to install Pandas library
- Pandas stands for Panel Data(Pan - Panel, Da = Data)
- Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. 
- Series is one dimensional data structure, that is it consists of a column. DataFrame is a two dimensional data structure i.e. it consists of rows and columns.

# Installing Pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\amant\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\amant\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amant\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\amant\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\amant\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Error processing line 3 of C:\Users\AMANT\anaconda3\lib\site-packages\googleapis_common_protos-1.56.4-py3.10-nspkg.pth:

  Traceback (most recent call last):
    File "C:\Users\AMANT\anaconda3\lib\site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 562, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored

In [3]:
import pandas   # before using any thing from pandas first pandas has to be imported
pandas.__version__ ## checking the version of pandas

'1.5.3'

In [5]:
# Genreal way of importing pandas 
import pandas as pd
pd.__version__

'1.5.3'

# Series Data Structure

In [6]:
ls = ['Hello', "50.75", "Sam", "Rahul"]
ls

['Hello', '50.75', 'Sam', 'Rahul']

In [7]:
ser = pd.Series(ls)
ser

0    Hello
1    50.75
2      Sam
3    Rahul
dtype: object

In [9]:
ls2 = [10, 20, 30, 40, 50]
ls2

[10, 20, 30, 40, 50]

In [10]:
ser2 = pd.Series(ls2)
ser2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
ser3 = pd.Series(ls2, dtype = 'float')
ser3

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [14]:
ser4 = pd.Series(ls2, dtype = "object")
ser4

0    10
1    20
2    30
3    40
4    50
dtype: object

In [15]:
ser5 = pd.Series(ls2, index = ['a', 'b', 'c', 'd', 'e'])
ser5

a    10
b    20
c    30
d    40
e    50
dtype: int64

# Arithematic functions on Series

In [16]:
ser3

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [17]:
ser3.sum()

150.0

In [18]:
ser3.mean()

30.0

In [19]:
ser3.median()

30.0

In [21]:
ser3.count()

5

# Sorting values in a Series

In [26]:
ser3.sort_values()

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [27]:
ser3.sort_values(ascending = False)

4    50.0
3    40.0
2    30.0
1    20.0
0    10.0
dtype: float64

# difference between type() and dtype attribute

In [30]:
ser3

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [28]:
type(ser3)

pandas.core.series.Series

In [29]:
ser3.dtype

dtype('float64')

# some Common attributes on Series

In [35]:
ser.shape

(4,)

In [36]:
ser.ndim

1

In [37]:
ser.unique()

array(['Hello', '50.75', 'Sam', 'Rahul'], dtype=object)

In [38]:
ser.nunique()

4

In [39]:
ser5 = pd.Series(["IT", "HR", "IT", "Engg", "HR", "HR", "HR", "Engg", "Sales", "IT", "HR", "Sales", "IT"])
ser5

0        IT
1        HR
2        IT
3      Engg
4        HR
5        HR
6        HR
7      Engg
8     Sales
9        IT
10       HR
11    Sales
12       IT
dtype: object

In [40]:
  ser5.unique()

array(['IT', 'HR', 'Engg', 'Sales'], dtype=object)

In [41]:
ser5.nunique()

4

In [42]:
ser5.value_counts()

HR       5
IT       4
Engg     2
Sales    2
dtype: int64

In [43]:
ser5.mode()

0    HR
dtype: object

# Arithematic Operations on Series

In [45]:
ser3

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [46]:
ser4

0    10
1    20
2    30
3    40
4    50
dtype: object

In [47]:
ser3 + ser4

0     20.0
1     40.0
2     60.0
3     80.0
4    100.0
dtype: object

In [48]:
ser3 * 3

0     30.0
1     60.0
2     90.0
3    120.0
4    150.0
dtype: float64

# Creating a Series using a Dictionary

In [49]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
names=pd.Series(score) # Convert to Series 
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [50]:
names.index

Index(['Jane', 'Bill', 'Elon', 'Tom', 'Tim'], dtype='object')

In [51]:
names.values

array([90, 80, 85, 75, 95], dtype=int64)

# Series Indexing

In [52]:
names

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [53]:
names['Tom']

75

In [54]:
names[['Tom', 'Tim']]

Tom    75
Tim    95
dtype: int64

In [56]:
names[names > 80]

Jane    90
Elon    85
Tim     95
dtype: int64

In [58]:
"Bill" in names

True

In [59]:
names['Jane'] = 25
names

Jane    25
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64