In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,2,3,4],
            index=["a","b","c","d"])
s

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s["a"]

1

In [4]:
s2=s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [6]:
s3=s.reindex(["b","d","a","c", "e"])
s3

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

# Note:
- Since NaN is a float data type, the entire series is converted to float64

In [7]:
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [8]:
s3.reindex(range(6),method="ffill")

0      blue
1      blue
2    yellow
3    yellow
4    purple
5    purple
dtype: object